body{
    background-image: url("/resources/homebg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#Hcontent{
    height: 90%;
}

#navbr{
    min-width: 650px;
}
#search{
    border: 3px solid rgb(88, 189, 219);
    border-radius: 15px;
    border-left-color: brown;
    border-right-color: rgb(138, 29, 240);
    padding: 0.5em;
    text-align: center;
    transform: scaleX(1);
    opacity: 0.55;
    box-shadow: 6px 12px 6px 1px rgb(75, 73, 73);
}

#srch{
    transform: scaleX(1.7) ;
    min-width: 5em;
    border-radius: 1em;
    border: 2px solid #d89c42;
    box-shadow: 3px 7px 12px 1px rgb(122, 114, 114);
    margin-left: 3em;
    background-image: linear-gradient(#3c9dca,#75c5eb);
}

#hfrmcol{
    align-self: center;
}

#frow{
    margin-top: 6em;
    justify-content:center;
    align-items: center;
}
#navbarNavAltMarkup div{
    text-decoration: seagreen;
}

@media screen and (max-width: 665px){
    #srch{
        background-image: linear-gradient(#da9cb4,#6aafcf);
        transform: scale(0.8) ;
    }
    #search{
        height: 42px;
        padding: 2px;
    }
    #Hcontent{
        height: calc(100vh - 50px);
    }
    
}


