body{
    background-color: bisque;
}
#site{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(245, 245, 245);
}
#ac-b{
    padding: 0.4em;
}

#columns{
    min-height: 30em;
    max-width: 25em;
}
#cards{
    scale:inherit;
    width:100%;
    min-height: 520px;
}
#overlay{
    scale:inherit
}

#box{
    height: 87%;
    width: 90%;
    position:absolute;
    left:1em;
    right:1em;
    top:2em;
    background-color: #056fb6;
    opacity: 0.2;
    transition: opacity 0.33s linear 0s;
}

#box:hover{
     opacity: 0.8;
}
.accordion-button{
    text-decoration: black;
    text-transform: uppercase;
    text-align: center;
    transform: scaleX(0.8);
    padding: 4px;
    background-image: none;
}
.accordion-body{
    transform: translateY(2);
}
.card-text{
    color: rgb(175, 212, 8);
    text-shadow: rgb(37, 44, 43);
    font-weight: 900;
}