
#card{
    max-width: 900px;
    border-top-left-radius: 2.3rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 10rem;
    background-color: rgb(152, 203, 240);
    margin-top: 3em;
    margin-bottom: 3em;
}

#imgbox{
    background-color: lightcoral;
    border: rgb(223, 57, 57) dashed 1px ;
    border-top-left-radius: 2rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 2rem;
    padding: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    transform: translateX(5px) scale(0.995); 
}

.card-img{
    object-fit: contain;
}

.card-body{
    margin-top: 2em;
    background-color: rgb(226, 194, 134);
    border-bottom-right-radius: 5rem;
}