<% layout('layout/boilerplate') %> 
    <%- include('../partials/navbar') %> 
    
    <center>
        <div class="card text-white bg-primary mb-5 mt-5" style="max-width: 40rem;" >
          <div class="card-header">About</div>
          <div class="card-body">
            <h4 class="card-title" style="text-align:left;">BingeList</h4>
            <p class="card-text" style="text-align:justify;">Not surprisingly, the 'Internet' has accumulated itself with a ‘bulk’ of content associated with entertainment media. These contents mostly constitute of TV-shows, plus now trending ‘Web-series’. This stock pile of content is only to witness even more growth by each year passed. </p>
            <p class="card-text" style="text-align:justify;">For an average person looking for entertainment there is a lot of options to choose from, which sometimes can be overwhelming. The ‘BingeList’ – web app provides an individual the feature of searching shows by querying with the name of shows, upon which all the shows that matched the query are returned & displayed, scroll through returned results and if further desired by a user, enables them to sidelist a particular show to their own personal list of shows. This personal list being an essential feature of the web application as the name of the site suggests.  All these features are served while also providing a decent User Interface.</p>
          </div>
        </div>
      </center><br><br><br><br>

