<% layout('layout/boilerplate') %> 
    <%- include('../partials/Hnavbar') %> 
    <%- include('../partials/flash') %>
    <link rel="stylesheet" href="/css/home.css">

    <div class="container-fluid" id="Hcontent">

        <div class="row justify-content-center" id="frow">
            <div class="col-md-8" id="hfrmcol">
                <div class="container-fluid">
                    <div class="row justify-content-around">
                        <div class="col-sm-7"><div class="display-5">Lets Binge some shows!!!</div></div>
                        <div class="col-sm-11">
                        <form action="/BingeList" class='form' method="post">
                            <div class="container-fluid" id="frmcntnt">
                            <div class="row justify-content-center">
                            <div class="col-8" id="qbox">
                                <input type="text" class="form-control" id="search" name="search" placeholder="Search Shows by Name" style="width:100%;">
                            </div>
                            <div class="col-5 mt-3" id="srchcol">
                                <button id="srch" class="btn btn-md">Search</button>
                            </div>
                            </div>
                        </div>
                        </form>
                        </div>
                    </div>  
                </div>  
            </div>
        </div>
        </div>